@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Global Variables */
:root {
    
    /* color references */
    --black: #000;
    --white: #FFF;
    --grey: #8B8B8B;
    
    --app-lightblue: rgba(51, 129, 192, 0.925);
    --app-darkblue: rgb(17, 39, 97);
    --app-whitesmoke: whitesmoke;

    /* font style */
    --mainfont: 'Abel', sans-serif;
    
    /* dev borders */
    --wireframe: 2px solid darkblue;
    --component: 2px solid darkgreen;
    --debugging: 2px solid darkred;

}

/* page */
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: var(--mainfont);
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background: var(--app-lightblue);
    color: #FFF;
}

/* Wrapper Component [ Container ] */
.modules {
    width: 100%;
    height: 100%;
    /* dev */
    border: var(--wireframe);
}
.modules h3 {
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-top: 10px;
    padding-left: 10px;
    text-decoration: underline;
}

/* 
    Form Component [ Form ]
    
    Contains :
        1. Task [ Input ] : Form input element
        2. Add Task [ Button ] : Submit task button
*/
form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 22px;
    width: 100%;
}
form input {
    min-height: 40px;
    border: 2px solid var(--black);
    width: 70%;
    padding-left: 10px;
}
form input:active,
form input:focus {
    background: var(--app-darkblue);
    border: 2px solid var(--white);
    color: var(--app-smokewhite);
}
form button {
    border: 2px solid var(--black);
    margin: var(--sm);
    min-height: 40px;
    min-width: 40px;
}
form button i {
    font-size: 0.95rem;
}

/* 
    Unordered List Component [ list ]

    Contains :
        1. Items [ Li ] : Created via Javascript
        2. Text [ P ] : Created & updated via Javascript
        3. Container [ Span ] : Buttons container
        4. Button [ Button ] : List action buttons

*/
.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}
.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 80%;
    padding-left: 10px;
    list-style-type: circle;
    border: 2px solid var(--white);
}
.list span {
    display: flex;
    justify-content: space-between;
    min-width: 25%;
    padding: 10px;
}
.list span button {
    background: transparent;
    border: 2px solid var(--white);
    min-height: 40px;
    min-width: 40px;
    font-size: 0.75rem;
    margin-right: 5px;
    transition: all 0.2s ease;
}
.list span button i {
    color: #FFF;
}
.list span button:hover {
    border: 2px solid var(--black);
    background: var(--app-whitesmoke);
}
.list span button:hover i {
    color: var(--black);
}
.items .text {
    transition: 0.3s all ease;
}
.items.itemsComplete {
    background: var(--app-darkblue);
}